<h1>~EAT DA BURGER~</h1>
<hr>

<div>
  <h2>Add a Burger you want to eat</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="brg">Burger Name:</label>
    <input type="text" id="brg" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>
</form>
</div>


<div>
  {{#each burgers}}
    {{#unless this.devoured}}
      <div>
        <p>{{burger_name}}
          <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT DA BURGER!</button>
          </form>
        </p>
      </div>
    {{/unless}}
  {{/each}}

  {{#each burgers}}
    {{#if this.devoured}}
      <div>
        <p>{{burger_name}}</p>
      </div>
    {{/if}}
  {{/each}}

</div>